{% extends "_global/index.html" %}
{% block main %}
<div class="admin-items">
    <p class="add-items"> Too add new items click here: </p> 
    <a href="/admin/items/add" class="add-link"> Add </a>

    <div class="image-deco-holder-1">
            <img src="/assets/img/deco2.png">
    </div>
    
    <div class="items">
            {% for item in items %} 
            <a href="/admin/items/edit/{{item.item_id}}" class="view-item">
                {{ item.name|escape|title }} 
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %} 
