{% extends "_global/index.html" %}
{% block main %}

<div class="admin-login">
<form action="/admin/login" method="POST">

    <label for="input_username" class="username"> Username: </label> <br>
    <input type="text" id="input_username" name="login_username" required> <br>

    <label for="input_password" class="password"> Password: </label><br>
    <input type="password" id="input_password" name="login_password" required> <br>

    <div class="buttons">
        <button type="sumbit" id="sumbit"> LOGIN </button>
    </div>

</form>
</div>

{% endblock %} 
